*.project
*.classpath
*.prefs
BanqueSpring-Business/.settings/
BanqueSpring-Data/.settings/
BanqueSpring-Entity/.settings/
BanqueSpring-Web/.settings/
BanqueSpring-BusinessInterface/.settings/
BanqueSpring-DataInterface/.settings/
